.history {
	display: block;
    padding-top: 100px;
	li{

		list-style: none;
		text-align: left;
		width: 800px;
       color: white;
	   word-wrap: break-word;
	}
	width: 225px;
	height: 25px;
	p{
		text-align: left;
		font-size: 20px;
		width: max-content;
	}
	a{color: white;
		cursor: pointer;
		font-size: 20px;
	}

	.textAreaContent{
	width: 700px;
	}
	textarea{
		width: 700px;
		max-width: 700px;
		height: 100px;
		resize: none;
		font-family:"Times New Roman", Times, serif;  
   font-size: 12px;   
	}
	
} 

